<footer>
  <div class="grid-container">
    <div class="container">
      <p class="section-title">Resources</p>
      <br>
      <a href="https://www.alphaomegaepsilon.org/"><p>National Website</p></a>
      <a href="https://www.aoefoundation.org/"><p>National Foundation</p></a>
      <a href="https://mizzougivedirect.missouri.edu/fund.aspx?item_id=856"><p>Make a Donation</p></a>
    </div>

    <div class="container">
      <div class="container-item">
        <p class="section-title">Friendship. Leadership. Professionalism.</p>
        <p>Alpha Omega Epsilon Beta Zeta Chapter</p>
        <br>
        <!-- <img class="footer-img1" src="../../assets/white-carnation-flower.png"> -->
        <!-- <img class="footer-img2" src="../../assets/single-white-rose.png"> -->
        <!-- <img class="footer-img3" src="../../assets/white-calla-lily.png"> -->
      </div>
      <!-- <div class="flower-grid-container">
        <img class="footer-img1" src="../../assets/white-carnation-flower.png">
        <img class="footer-img2" src="../../assets/single-white-rose.png">
        <img class="footer-img3" src="../../assets/white-calla-lily.png">
      </div> -->
    </div>

    <div class="container">
      <p class="section-title">Connect with AOE</p>
      <br>
      <p>aoebetazeta&#64;gmail.com</p>
      <a class="container-item" href="https://www.instagram.com/a.o.e.mizzou?igsh=ajhubWtuYTdleWl2">
        <!-- <img src="../../assets/instagram-icon-white.svg" height="55px" width="55px"> -->
        <div class="placeholder">1</div>
      </a>
      <a class="container-item" href="">
        <!-- <img src="../../assets/facebook-icon-white.svg" height="45px" width="45px"> -->
        <div class="placeholder">2</div>
      </a>
      <a class="container-item" href="https://www.linkedin.com/company/alpha-omega-epsilon-sorority/">
        <!-- <img src="../../assets/linkedin-icon-white.svg" height="45px" width="45px"> -->
        <div class="placeholder">3</div>
      </a>
    </div>
  </div>
  <hr>
  <div>
    <p class="footer-text">Created by Alissa Chimienti, Megan Murphy, and Alyssa Norrenberns &#169; 2024</p>
  </div>
</footer>

<!-- <footer>
  <div class="container">
    <p class="container-item">Check out our socials!</p>
  </div>
  <br>
  <div class="container">
    <a class="container-item" href="https://www.instagram.com/a.o.e.mizzou?igsh=ajhubWtuYTdleWl2"> -->
      <!-- <img src="../../assets/instagram-icon-white.svg" height="55px" width="55px"> -->
      <!-- <div class="placeholder">1</div>
    </a>
    <a class="container-item" href=""> -->
      <!-- <img src="../../assets/facebook-icon-white.svg" height="45px" width="45px"> -->
      <!-- <div class="placeholder">2</div>
    </a>
    <a class="container-item" href="https://www.linkedin.com/company/alpha-omega-epsilon-sorority/"> -->
      <!-- <img src="../../assets/linkedin-icon-white.svg" height="45px" width="45px"> -->
      <!-- <div class="placeholder">3</div>
    </a>
  </div>
  <br>
  <hr>
  <div class="container">
    <p class="container-item">Created by Alissa Chimienti, Megan Murphy, and Alyssa Norrenberns | May 2024 &#169;</p>
  </div>
</footer> -->


