<!-- <p>footer works!</p> -->
<footer>
  <div class="container">
    <p class="container-item">Check out our socials!</p>
  </div>
  <br>
  <div class="container">
    <a class="container-item" href="https://www.instagram.com/a.o.e.mizzou?igsh=ajhubWtuYTdleWl2">
      <!-- <img src="../../assets/instagram-icon-white.svg" height="55px" width="55px"> -->
      <div class="placeholder">1</div>
    </a>
    <a class="container-item" href="">
      <!-- <img src="../../assets/facebook-icon-white.svg" height="45px" width="45px"> -->
      <div class="placeholder">2</div>
    </a>
    <a class="container-item" href="https://www.linkedin.com/company/alpha-omega-epsilon-sorority/">
      <!-- <img src="../../assets/linkedin-icon-white.svg" height="45px" width="45px"> -->
      <div class="placeholder">3</div>
    </a>
  </div>
  <br>
  <hr>
  <div class="container">
    <p class="container-item">Created by Alissa Chimienti, Megan Murphy, and Alyssa Norrenberns | May 2024 &#169;</p>
  </div>
</footer>


