<footer>
  <div class="grid-container">
    <div class="container">
      <p class="section-title">Resources</p>
      <br>
      <a href="https://www.alphaomegaepsilon.org/"><p>National Website</p></a>
      <a href="https://www.aoefoundation.org/"><p>National Foundation</p></a>
      <a href="https://mizzougivedirect.missouri.edu/fund.aspx?item_id=856"><p>Make a Donation</p></a>
    </div>

    <div class="container">
      <p class="section-title">Friendship. Leadership. Professionalism.</p>
      <p>Alpha Omega Epsilon Beta Zeta Chapter</p>
    </div>

    <div class="container">
      <p class="section-title">Connect with AOE</p>
      <br>
      <p>aoebetazeta&#64;gmail.com</p>
      <div class="social-icons">
        <a class="container-item" href="https://www.instagram.com/a.o.e.mizzou?igsh=ajhubWtuYTdleWl2">
          <img src="../../assets/instagram-icon-white.svg" height="45px" width="55px">
          <!-- <div class="placeholder">1</div> -->
        </a>
        <a class="container-item" href="https://www.facebook.com/a.o.e.mizzou/">
          <img src="../../assets/facebook-icon-white.svg" height="40px" width="45px">
          <!-- <div class="placeholder">2</div> -->
        </a>
        <a class="container-item" href="https://www.linkedin.com/company/alpha-omega-epsilon-sorority/">
          <img src="../../assets/linkedin-icon-white.svg" height="40px" width="45px">
          <!-- <div class="placeholder">3</div> -->
        </a>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <p class="footer-text">Created by Alissa Chimienti, Megan Murphy, and Alyssa Norrenberns &#169; 2024</p>
  </div>
</footer>


