  <mat-card class="list_mat" #postContainer>
    <mat-accordion multi="true" *ngIf="posts.length > 0">
      <div *ngFor="let post of posts; let i = index">
        <div *ngIf="i % 2 == 0" class="evenPost" [@fadeInUp]>
          <img class="authorPicEven" [src]="'assets/' + post.roll_call + '.jpg'">
          <div class="speechBubbleEven">
            <p class="date">{{post.my_date}}</p>
            <p class="title">{{post.title}}</p>
            <p>{{post.content}}</p>
            <p  class="date">{{post.author}}</p>
          </div>
        </div>
        <div *ngIf="i % 2 == 1" class="oddPost" [@fadeInUp]>
          <div class="speechBubbleOdd">
            <p class="date">{{post.my_date}}</p>
            <p class="title">{{post.title}}</p>
            <p>{{post.content}}</p>
            <p  class="date">{{post.author}}</p>
          </div>
          <img class="authorPicOdd" [src]="'assets/' + post.roll_call + '.jpg'">
        </div>
      </div>
    </mat-accordion>
    <p *ngIf="posts.length <= 0">No content to render</p>
  </mat-card>
