.exec2{
    background-color: rgb(198, 226, 251);
    position: relative; /* Ensure the container serves as the positioning context */

}

.exec-grid {
    margin-top: 100px;
    margin-bottom: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 65px;
}

p {
    text-align: center;
    margin-top: -15px;
}

h2 {
    text-align: center;
}

.mat-grid-list {
    width: 50%;
    height: 100%; 
}

.mat-grid-tile {
    height: 30%;
}
  

.grid-img {
    width: 200px;
    border-radius: 100px;
    transition: opacity 0.3s ease;
}

.grid-img:hover{
    filter: brightness(110%);
    box-shadow: 0px 20px 8px rgba(0, 0, 0, 0.1);
}

.grid-img:not(:hover) {
    filter: brightness(100%);
}

h1{
    position: relative;
    text-align: center;
}

.container{
    height: 100%;
}

.mte {
    position: relative;
    width: 40%;
    transform: rotate(35deg);
    margin-top: 0px;
    margin-left: 52%;
    margin-bottom: -370px;
}

.disabled-pic {
    pointer-events: none;
}
  



