.execPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(198, 226, 251);
}

p {
    text-align: center;
    margin-top: -15px;
}

h2 {
    text-align: center;
}

  
.mat-grid-list {
    width: 50%;
    height: 100%; 
}

.mat-grid-tile {
    height: 30%;
}
  

.grid-img {
    width: 200px;
    border-radius: 100px;
}

