.home1 {
    background-color: rgb(198, 226, 251);
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
}

#bidDay23 {
    width: 50%;
    margin-top: 20px;
    border: solid navy 5px;
    border-radius: 100px;
    float: left;
    margin-left: 10%;
}

/* h1 {
    position: relative;
    top: 30px; 
    left: 10%;
} */

.eventsLabel{
    position: relative;
    top: 30px; /* Adjust the top value as needed */
    left: 5%;
    width: 15%;
}

.eventList {
    position: relative;
    left: 5%;
    top: 50px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: navy;
}
