
<!-- <div id="title">
    <img src="../../assets/title-white-background.png" alt="Alpha Omega Epsilon - Beta Zeta">
</div> -->

<div class="home1">
  <br>

    <!-- <nav class="navbar">
        <img src="../../assets/logo.svg" alt="logo">
        <a href="">Dummy </a>
        <a href="">Navbar</a>
    </nav> -->

    <div class="image-container">
        <img src="../../assets/bidDay23.JPEG" alt="2023 Bid Day" id="bidDay23">
        <img src="../../assets/eventsLabel.png" alt="Events" id="eventsLabel">
    </div>

    <!-- <footer>
        <p>Author: Hege Refsnes</p>
        <p><a href="mailto:hege.com">hege.com</a></p>
    </footer> -->
</div>
