<h1>Upcoming Events</h1>
<hr>
<!-- dynamically create cards for each event in database -->
<mat-card *ngIf="events.length > 0" #eventContainer>
  <div class="grid-container">
    <div *ngFor="let event of events">
      <!-- event information -->
      <div class="card">
        <h2 class="title">{{event.eventChair}}</h2>
        <img src="../../assets/bidDay23.JPEG" alt="" style="width:100%">
        <div class="card-content">
          <p><b>{{event.eventName}}</b></p>
          <p>{{event.details}}</p>
          <!-- <p>Total RSVPs: {{event.rsvpCount}}</p> -->
        </div>
        <!-- rsvp form -->
        <div class="form">
          <form (submit)="onAddEventRSVP(rsvpForm, event.eventID)" #rsvpForm="ngForm">
            <p>Enter your roll call number to RSVP:</p>
            <input type="text" class="text-field" name="rollCallNum" ngModel>
            <button type="submit" class="submit-btn">Submit RSVP</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<p *ngIf="events.length <= 0">No upcoming events to display.</p>