h1{
  color: navy;
  text-align: center;
  margin: auto;
  padding: 15px;
  font-weight: bold;
}
hr {
  color: navy;
}

.bg{
  /* background-color: rgb(198, 226, 251); */
  background-color: white;
}
.title {
  color: navy;
  text-align: center;
  margin: auto;
  padding: 10px;
}

/* card CSS via w3schools */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; /* rounded corners */
  display: grid;
  width: 100%;
  border: navy solid 2px;
  /* max-height: max-content; */
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Add some padding inside the card container */
.card-content {
  margin-top: 10px;
  padding: 2px 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  margin: 20px;
}
.form {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 16px;
}
.submit-btn {
  background-color: navy;
  color: white;
  padding: 5px;
  border-radius: 10px;
  margin-left: 5px;
  /* float:right; */
}
.text-field{
  padding: 5px;
}
