<h1>Upcoming Events</h1>
<hr>
<div class="grid-container">
  <!-- replace with logic to dynamically create cards for each event in database -->
  <div class="card">
      <h2 class="title">Health & Wellness</h2>
    <img src="../../assets/bidDay23.JPEG" alt="" style="width:100%">
    <div class="card-content">
      <p><b>Event Chair</b></p>
      <p>Details for the event are found here.</p>
    </div>
  </div>
  <mat-card *ngIf="events.length > 0" #eventContainer>
    <div *ngFor="let event of events">
      <!-- event information -->
      <div class="card">
        <h2 class="title">{{event.eventChair}}</h2>
        <img src="../../assets/bidDay23.JPEG" alt="" style="width:100%">
        <div class="card-content">
          <p><b>{{event.eventName}}</b></p>
          <p>{{event.details}}</p>
          <p>Total RSVPs: {{event.rsvpCount}}</p>
          <p>Event ID: {{event.eventID}}</p>
        </div>
      </div>
      <!-- rsvp form -->
      <form (submit)="onAddEventRSVP(rsvpForm, event.eventID)" #rsvpForm="ngForm">
        <p>Enter your roll call number:</p>
        <input type="text" name="rollCallNum" ngModel>
        <button type="submit">Submit RSVP</button>
      </form>
    </div>
  </mat-card>
  <p *ngIf="events.length <= 0">No upcoming events to display.</p>
</div>

<!-- use in form for event bubble -->
<button mat-button (click)="openDialog()">click me</button>
